{% extends 'base.html' %}
{% block content %}
  <div class="centerstage mt-1">
    {% if not draft_messages %}

      {% for message in message_list %}
        <div class="mt-3 mb-3">
          <h1><a href="{% url 'timeline:single' slug=message.slug %}">{{ message.title }}</a></h1>

          <!--Two check. 1-Message published? 2-If not, current user is the message author?-->
          <div class="date ml-1">
            {% if not message.date_published %}
              {% if message.author == user %}
                <p>Not published yet. You can go and publish it now.</p>
              {% else %}
                <p>Not published yet</p>
              {% endif %}
            {% else %}
              <p>Published on: {{ message.date_published|date:"D M Y" }}</p>
            {% endif %}
          </div>
          <!--End Two check-->

          <a href="{% url 'timeline:single' slug=message.slug %}">Comments: {{ message.get_approved_comments.count }}</a>
        </div>
        <hr>
      {% endfor %}

    {% else %}

      {% for message in message_list %}
        <div class="card mt-3">
          <div class="card-header">
            <strong>Created at: {{ message.date_created|date:"d M Y" }}</strong>
          </div>
          <div class="card-body">
            <h1><a href="{% url 'timeline:single' slug=message.slug %}">{{ message.title }}</a></h1>
            <p>{{ message.body|safe|truncatechars:250 }}</p>
          </div>
        </div>
      {% endfor %}

    {% endif %}
  </div>
{% endblock content %}